<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Access-Control-Allow-Origin" content="*" />
		<!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="<%- logo %>" />
		<link rel="apple-touch-icon" href="<%- appleLogo %>" />
		<link rel="bookmark" href="<%- appleLogo %>" />
		<link
			rel="apple-touch-icon-precomposed"
			sizes="200x200"
			href="<%- appleLogo %>"
		/>
		<meta name="description" content="<%- description %>" />
		<meta name="keywords" content="<%- keywords %>" />
		<meta name="author" content="<%- author %>" />
		<meta name="theme-color" content="#424242" />
		<title><%- title %></title>
		<!-- HarmonyOS Sans -->
		<link
			rel="stylesheet"
			href="https://res.cloudinary.com/misaka/raw/upload/v1686973175/blog_custom/regular.min.css"
		/>
		<link rel="stylesheet" href="/loading/loading.min.css" />
		<!-- IE Out -->
		<script>
			if (
				/*@cc_on!@*/ false ||
				(!!window.MSInputMethodContext && !!document.documentMode)
			)
				window.location.href =
					"https://support.dmeng.net/upgrade-your-browser.html?referrer=" +
					encodeURIComponent(window.location.href);
		</script>
	</head>

	<body class="loading">
		<!--加载动画-->
		<div id="loading-box">
			<div class="loading-left-bg"></div>
			<div class="loading-right-bg"></div>
			<div class="spinner-box">
				<div class="loader">
					<div class="inner one"></div>
					<div class="inner two"></div>
					<div class="inner three"></div>
				</div>
				<div class="loading-word">
					<p class="loading-title" id="loading-title"><%- title %></p>
					<span id="loading-text">Loading...</span>
				</div>
			</div>
		</div>
		<!-- 主体内容 -->
		<div id="app"></div>
		<!-- noscript -->
		<noscript>
			<div style="text-align: center">Please enable JavaScript</div>
		</noscript>
		<script type="module" src="/src/main.js"></script>
	</body>
</html>
